/*buy tokens*/

.buy-tokens {
    width: 75%;
    border-style: solid;
    border-width: 2px;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: center;
    
}

.buy-tokens input{
   color:black;
}


.buy-tokens .info {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
}
.qrcode{
    padding: 1em;
    text-align: center;
    width: 25%;
    display: inline-table;

}

.qrcode img{
    width: 80%;
    min-width: 10em;
}


.buy-address{
    text-align: center;
    width: 100%;
}





.buy-address{
    text-align: center;
    width: 100%;
}

.skara-address span{
    font-size: 1.8vw;
}


@media screen and (max-width: 700px) {
    .skara-address span{
        font-size:1em;
    }
}

@media screen and (max-width: 450px) {
    .skara-address span{
        font-size: .9em;;
    }
}

.buy-form{
    text-align: center;
}

.copy-address-btn{
    margin-left: 1em;
}

.buy-form button{
    height: 2em;
    margin-left: 1em;
   
}

.copy-address-btn.copied{
    background: green;
}
