.counter table {
    margin: auto;
    font-weight: bold;
    color: rgb(19, 140, 228);
}

.counter tr {
    background: transparent !important;
}

.counter th {
    width: .75em;
    min-width: 0;
    text-align: center;
}

.counter .counter-num {
    font-size: 3.25em;
    font-family: Roboto;
    font-weight: lighter;
}

.counter .counter-unit {
    font-size: 1em;
    /*color: white;*/
}



.counter{
    text-align: center;
}

.sale-end{
    font-size: 2em;
}

