
.header-investor {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1em;
  background: rgba(255, 255, 255, 0);
  align-items: center;
}

.header-logo {
    height: 50px;
    padding-right: 12px;
    display: block;
}

.header-left {
    display: none;
}

.header-center {
    display: none;
}


.header-right {
    position: absolute;
    height: 4em;
    right: 2em;
    display: flex;
    text-align: right;
    align-items: center;
}


.form{
    text-align: center;
    margin-bottom: 2em;
}

.wrong-address{
    color: red;
}

.inputField{
    margin-left: 1em;
    width: 50%;
    color: black;
}

.go-button {
margin-left: 1em;
}

  
.login-btn{
    width: 80px;
    height: 2em;
}

.logged{
    font-size: .7em;
}

.logout{
    font-size: 1.4em;
    cursor: pointer;

}