@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

::-webkit-scrollbar {
  width: 6px;
 
} 

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff8f829;
   border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
   border-radius: 6px;
}

body {
  margin: 0;
  padding: 0;
  color: white !important;
  font-family: Alegreya Sans!important;
  background: rgba(0, 0, 0, 0) !important;
  overflow-x: hidden;
}

body button {
  background: rgb(207, 154, 52);
  border: solid rgba(110, 105, 104, 1) 0px;
  border-radius: 5px;
  cursor: pointer !important;
  font-family: Roboto !important;
  font-weight: bold;
}

body table tr:first-of-type {
  background: rgb(207, 154, 52);

}

body table tbody {
  background: rgba(255, 255, 255, 0) !important;
}

body table tbody tr:first-of-type {
  background: rgba(255, 255, 255, 0) !important;
}

.section {
  padding: 1em;
  
}

@media screen and (max-height: 400px) {
  .section {
    padding: 0;
    
  }
}



.mm-popup__box {
  width: 80% !important;
  margin-left: -40% !important;
  background: rgb(0, 0, 0) !important;
  color: inherit !important;  
 
}

.mm-popup__box__body {
  background: inherit !important;
  color: inherit !important;
}

.mm-popup__box__header {
  background: rgb(207, 154, 52) !important;
  color: inherit !important;
}

.mm-popup__overlay {
 
  background: rgba(0, 0, 0, 0.7) !important;
}


.spinner {
  background: rgba(0, 0, 0, 0.8) !important;
  padding-top: 0 !important;
}



.TokenVestingApp {
  background-color: #ffffff00 !important;

}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f900 !important;
}