.investor-panel{
    text-align: center;
    color: white !important;
}

.react-sweet-progress-symbol {
    
    color: white !important;
}

.balance{
    text-align: center;
    margin: 2em;
    margin-top: 4em;
}

.no-tokens-attached{
    text-align: center;
    margin: 2em;
    margin-top: 4em;
}

.login-form{
    right: 30% ;
    left: 30% ;
}
.login-content input{
    width: 100%;
}

.wallet-not-found {
    font-size: 2em;
}

.history {
    margin:4em;
}

.table {
   text-align: center !important;
}
