.TokenVestingApp {
  background-color: #fafbfc;
  text-align: center;
  margin: 2em;
  margin-top: 4em;
}

.header {
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;

  text-align: left;
  color: black;
  border-bottom: 1px solid #ecf0f2;
}

.logo {
  position: relative;
  left: -27px;
  height: 50px;
  padding-right: 12px;
  border-right: 1px solid #5cb6e4;
}

.contracts {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
}

.contracts h3 {
  font-size: 20px;
}

.contracts a {
  color: #004569;
}

.contracts span {
  color: #333;
  font-size: 11px;
}

.details a {
  cursor: pointer;
}

.warning {
  position: relative;
}

.warning-message {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 50px;

  font-size: 16px;
  text-align: center;
}

.action {
  position: absolute;
  right: 30px;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 200px;

  background: rgba(255, 255, 255, .8);
  z-index: 1;
}

.spinner img {
  height: 50px;
}

.emoji {
  vertical-align: middle;
}

th {
  min-width: 155px;
}


/*HOME*/

.home {
  text-align: center;
}

.centered {
  display: inline-block;
  
}

.missing-address {
  width: 100%;
  text-align: center;
  padding: 2em;
  
}

.welcome-text{
  text-align: center;
  padding: 2em;
  width: 75%;
  font-size: 1.25em;
}



.help-link {
  padding-top: 1em; 
  display: block;
  cursor: default;
}

.help-content {
  width: 90%;
  text-align: center;
  padding: 2em;
}

.help-content  p{
  text-align: left;
}

.help-content  img{
  padding: 1em;
  width: 80%;

}

.spinner > p {
  margin-top: 1em;
  padding: 1em;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.75); 
}

.error{
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20em;
  padding: 2em;
}

  
.error-text{

}

.error-text a {
  cursor: default;
}

.error-trace{
  color: red;
}