.total-supply{
    font-size: 2em;
    margin: auto;
    text-align: center;
    max-width: 50%;
}

@media screen and (max-height: 400px) {
    .total-supply{
        margin-top: .5em;
    }
  }
  

@media screen and (max-width: 700px) {
    .total-supply{
        max-width: 100%;
    }

    .total-supply-distributed{
        font-size: .65em;
    }
}



.total-supply img{
    height: .7em;
    margin-right: .2em;
    vertical-align: baseline;
    
}

.token-number{
    margin-left: 1em;
    font-family: Roboto;
    font-weight: bold;
    color: rgb(206, 139, 14);
}

.circulating-supply{
    width: 50%;
    padding-right: 4em;
}



.graph{
    vertical-align: middle;
    width:50%;
    display: inline-block;
    
}

.inner-percentage{
    color: rgb(19, 140, 228);
    font-family: Roboto;
    font-weight: bold;
}

.soft-graph .inner-percentage{
    color: #cf9a34;

}

.harrd-graph .inner-percentage{
    color: rgb(19, 140, 228);

}



.max-supply{
    width: 50%;
    
}

.total-supply .react-sweet-progress-circle-outer{
    vertical-align: baseline;
}

@media screen and (max-height: 400px) {
    .total-supply .react-sweet-progress-circle-outer{
        margin-top: 0;
    }
  }
  


.of-max-supply{
    margin-top: .5em; 
    text-align: center;
    font-family: Roboto;
    height: 1.5em;
}

.success-text{
    margin-top: 1em;
    font-size: .75em;
}

.success{
    color: rgb(207, 154, 52);
    font-weight: bold;
}


.of-max-supply-text{
    font-size: .5em;
}


.of-max-supply-percent{
    text-align: right;
    font-weight: bold;
    color: rgb(19, 140, 228); 
}